<div id="input">
	<h3>Verify an Address</h3>
	<p>Please verify the addresses below and click the 'verify' button once the dropoff location has been verified</p>

	<table id="donorLocationVerifyTable">
		<tr>
			<th>Owner Name</th>
			<th>Street Address</th>
			<th>Country</th>
			<th>Postal Code</th>
			<th>Phone Number</th>
			<th>Email</th>
			<th>Verified</th>
		</tr>
		
		{{#if results}}
			{{#each results}}
					<tr>
						<td>{{this.ownerName}}</td>
						<td>{{this.streetAddress}}</td>
						<td>{{this.country}}</td>
						<td>{{this.postalCode}}</td>
						<td>{{this.phoneNumber}}</td>
						<td>{{this.email}}</td>
						<td>{{this.verify}}</td>
						<td><a href="/verify?id={{this.id}}"><input type="button" name="verify" value="Verify"></a></td>
					</tr>
			{{/each}}
		{{/if}}
	</table>
</div>

<script src="./script.js"></script>