<div id="input">
	<h3>Verify an Address</h3>
	
	{{#if results}}
		<p>Please verify the addresses below and click the 'verify' button once the dropoff location has been verified</p>

		<table id="donorLocationVerifyTable">
			<tr>
				<th>Owner Name</th>
				<th>Business Name</th>
				<th>Street Address</th>
				<th>City</th>
				<th>State</th>
				<th>Country</th>
				<th>Postal Code</th>
				<th>Phone Number</th>
				<th>Email</th>
			</tr>
			
			{{#each results}}
					<tr>
						<td>{{this.ownerName}}</td>
						<td>{{this.businessName}}</td>
						<td>{{this.streetAddress}}</td>
						<td>{{this.city}}</td>
						<td>{{this.state}}</td>
						<td>{{this.country}}</td>
						<td>{{this.postalCode}}</td>
						<td>{{this.phoneNumber}}</td>
						<td>{{this.email}}</td>
						<td><a href="/verify?id={{this.id}}"><input type="button" name="verify" value="Verify"></a></td>
					</tr>
			{{/each}}
			
		</table>
		
	{{else}}
	
		<p>All locations have been verified</p>
		
	{{/if}}
</div>
